VITE_FIREBASE_API_KEY=AIzaSyA7l_Gq5K9c6_cLxZHGcB4eUK1hDV1_E8Y
VITE_FIREBASE_AUTH_DOMAIN=race-entries-61179.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=race-entries-61179
VITE_FIREBASE_STORAGE_BUCKET=race-entries-61179.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=697782713952
VITE_FIREBASE_APP_ID=1:697782713952:web:46111ef8dd78f4b3478d05
VITE_FUNCTIONS_REGION=europe-west2

# Auto sign-in a stable anonymous user on app load (recommended for production UX).
VITE_AUTO_ANON_AUTH_ON_LOAD=true

